/* ***TOP BAR CSS*** */

#topbar
{  
    width: 100%;
    height: 30px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color:rgb(211, 202, 202);
    float: right;
}
#innervbar
{
   display:flex; 
   
}
#innervbar>i 
{
    padding-left:250px;
    padding-right: 20px;
    padding-top: 6px;
}

#innervbar p {
    margin-top:-0.5px;
    padding-top: 6px;
}
#innervbar>a
{
    text-decoration: underline;
    padding-top: 4px;
    
}
#innervbar>a:hover
{
    text-decoration:none;
}
.fa-location-dot
{   
    color:mediumvioletred;
}

@media only screen and (min-width: 50px) and (max-width:1435px)
{
   #topbar {

    background-color:white;
    float: left;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap:35px;
    
    
   }
    #innervbar
   {
      margin: 0;
      padding: 0;
   
   }
   #innervbar i
   {
     padding: 0;
     padding-left: 10px;
     padding-right: 8px;
     padding-top:4px;
   }
   #innervbar p
   {
      margin-left: 5px;
      margin-top:0px;
      margin-right: 8px;;
      
   }
   #innervbar>a
  {
    
    margin-left: 0%;
    
  }
}


/* *****naV BAR CSS******* */

#navbar
{   
    width: 100%;
    height:100px;
    background-color:#ffffff;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 40px;
    
    
}
#navbar div>a>h1 {

    font-size: 50px;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    color:#05599b;

}
#srch {
    color:#05599b;
    height: 15px;
    width: 15px;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 7.4px;
    padding-right: 2px;
    padding-bottom: 13.7px;
}
#search
{   
   
   border: none;
   border-top: 1px solid;
    border-bottom: 1px solid; 
    border-left: 1px solid;
    padding-top: 9px;
    padding-bottom:11px;
    font-weight: 200;
    margin-left: 9px;
    padding-left: 10px;
    padding-right: 100px;
}
#centerdiv
{
  margin-top:-50px;
}



#Big
{
    display:flex;
    float:right;
    
}

#Big img
{
    width: 50px;
    height: 50px;
    padding-right: 20px;
    padding-top:-5px;
    cursor: pointer;
}
#con
{
    padding-top: 18px;
    padding-right: 35px;
    cursor: pointer;
}
.fa-cart-arrow-down
{
    color:teal;
}

@media only screen and (min-width: 50px) and (max-width:1435px){

    #navbar
    {
        margin-top:-50px;
        padding-bottom: 56px;
        width: 100%;
        height: auto;
        display:grid;
       grid-template-columns: repeat(1,1fr);
       grid-template-rows: auto;
    }
    #navbar div>a>h1 {

        font-size: 35px;
        font-weight: 500;
        padding-bottom: 15px;
        margin-top: -20px;
        border-bottom: 3px solid #dde2e6;
    }
    #srch {
        height: 15px;
        width: 15px;
        border: none;
       float: left;
       font-size:23px;
       padding:0;
       margin-top: -103px;
       margin-left: 40px;
    }
    #search
    {   
       
       border: none;
       text-decoration: none;
        font-size: 0;
    }
    #Big
    {
        margin-top:-120px;
    }
    
    #Big img
    {
        width: 40px;
        height: 40px;
       
    }
        #con
    {
       font-size: 12px;
       margin-top:-8px;
       padding-right: -5px;
    }

}





#collectionofthings{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}
#mainpage>p{
    display:inline;
    margin-left:10px;
}
#div-2>#smalldiv{
    display:flex;
    justify-content:space-between;
    margin-bottom:-25px;
}
#div-2>#smalldiv>#first>h1{
   
        color:#666;
        
        margin-bottom:-18px;
       
        font-size: 24px;
            font-family: Trade Gothic W01 Light,Arial,sans-serif;
            font-weight: 100;
}
#div-2>#smalldiv>#foritems>p{
    margin-top:25px;
    margin-right:20px;
    font-size:18px;
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    color:#666;
}
#div-2>#onlyforthis{
    color:#666;
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    font-size:13px;
}
#div-2>#filterbag{
    display : flex; justify-content:space-between;
}

#div-2>#filterbag>#filterdiv{
    display:flex;
    justify-content:space-between;
    background-color: #edecec;
    margin-top:18px;
    margin-bottom:60px;
    padding-left:20px;
    padding-right:-25px;
    padding-bottom:10px;
}
#div-2>#filterbag>#filterdiv>div{
    margin-top:10px;
    margin-right:70px;
    margin-left:25px;
}
#div-2>#filterbag>#filterdiv>div>select{
    padding:10px;
    font-weight:bold;
}
#div-2>#filterbag>#filterdiv>p{
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    font-weight:bold;  
}
#div-2>#filterbag>#sortdiv>select{
    padding:10px 30px;
    margin-top:23px;
    font-weight:bold;
    font-size:18px;
}

.imgdecorate{
  height:300px ;
  width:60%;
  cursor:pointer;
 margin-left:60px;
}
.italicstyle{
   
   font-size: .875rem;
    color: #005699;
    font-family: TradeGothicLTW05-BoldObl,Arial,sans-serif;
   font-style:italic;
    text-align: center ;
    font-weight: bold;
    
    
}
.createname{
    font-size:14px;
    color: #333333;
    font-family: TradeGothicLTW05-BoldObl,Arial,sans-serif;
    line-height: 1;
    text-align: center;
    font-weight:bold;;
    margin-top:-7px;
}
.createtypename{
    font-size:13px;
    color: #666666;
    font-family: TradeGothicLTW05-BoldObl,Arial,sans-serif;
   
    text-align: center;
    margin-top:-7px;

}
.resizeprice
{
    font-size:19px;
    color: black;
    font-family: TradeGothicLTW05-BoldObl,Arial,sans-serif;
    line-height: 1;
    text-align: center;
   
}
.retagline{
    font-size:12px;
    color: #CC0000;
    font-family: TradeGothicLTW05-BoldObl,Arial,sans-serif;
    line-height: 1;
    text-align: center;
  display:block;
    text-decoration:none; 
cursor:pointer;
}
.Addingbag{
    color:#FFFFFF;
    font-size:13px;
    background-color:#333;
padding:10px 80px;
border:none;
text-align:center;
margin-top:14px;
}
.Addingbag:hover{
color:#333333;
background-color:#eae8e8;
cursor:pointer;

 }

 #lastpara{
    height:2px;
    background-color:#313030;
    border:none;
    margin-top:30px;
}

 #paradiv{
    width:74%;
}
#paradiv>h2{
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    margin-top:35px;
    color:#333333 
  
}
#paradiv>p{
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    color:#666666;
    margin-top: 16px;
    font-weight:1;
    line-height: 1.75; 
}
#paradiv>p>a{
    text-decoration:underline;
    color: #333333;
}
#paradiv>p>a:hover{
    text-decoration:none;
}


 




/* ******footter*** */

#foot{
    
    margin: auto;
    width: 76%;
    height: 300px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    
}
#i{
 font-size: 20px;
 font-weight: bold;
 color: rgb(87, 84, 84);
 border: 1px dotted;
 padding:8px;
 padding-left:15px;
 padding-right:15px;
 border-radius:50%;
 
}

#icn
{   
width: 20px;
height: 20px;

}
.samefont
{   color:rgb(87, 84, 84);
 font-size: 15px;
 font-weight: 200;
}
#input
{  
 padding:10px;
 padding-left: 20px;
}
.btn{
   padding:10px;
   background-color:rgb(17, 3, 3);
   color:white;
   margin-left:-4px;
   margin-top:2px;
   border:none;
}
.btn:hover
{   
 color: black;
 background-color: whitesmoke;
}
#geth6
{   
 font-weight: 200;
}



.box2
{   
  text-align: left;
 display:grid;
 grid-template-columns: repeat(2,1fr)
}
.box2 a
{   color:rgb(87, 84, 84);
font-size:14px;
font-weight: 200;
font-family: "Trade Gothic W01 Light", Arial, sans-serif;
text-align: left;
}
.boltmatch
{ 
 font-size: 13px;  
font-weight: bold;
font-family: "Trade Gothic W01 Light", Arial, sans-serif;
}

@media only screen and (min-width: 50px) and (max-width: 780px)
{
    
 #foot{
     margin: auto;
     width: auto;
     height: auto;
     display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-template-rows: auto;
     gap: 15px;
     padding-left: 10px;
     
 } 

 #input
 {  
     padding:10px;
     padding-right:300px;
     
 }
 
}
/* *******end bar css************* */

#Endbar
{   margin: 0 auto;
 width: 70%;
 height:60px;
 display:grid;
 grid-template-columns: repeat(2,1fr);
}

#Endbar>#b2 { 
 text-align:right;
}

#b2>img {
 width: 100%;
 height: 90px;
}
#geth6
{   
 margin: 0 auto;
 font-weight: 200;
 font-size: 15px;
}
#Endbar>#b1>a
{
 margin-right:5px;
}

@media only screen and (min-width: 50px) and (max-width: 780px)
{
 #Endbar
 {   margin: 0 auto;
     width:98%;
     height:auto;
     display:grid;
     grid-template-columns: repeat(1,1fr);
     gap: 30px;
 }
 #b2>img
 {
     width: 60%;
     float:left;
 }
 #Endbar>#b1>a
 {
     margin-right:10px;
 }
}

/* endbar icon */


.fa-twitter
{
 background-color: rgb(42, 138, 198);
 color: white;
 padding: 6px;
 border-radius: 50%;
}


.fa-facebook-f
{
 background-color:steelblue;
 color: white;
 padding: 7px;
 border-radius:50%;
}
.fa-instagram
{
 padding: 7px;
 border-radius: 50%;
 color: white;
 background-color:steelblue;
}
.fa-tiktok
{
 background-color:black;
 color: white;
 padding: 7px;
 border-radius: 50%;
}

.fa-youtube
{
 color:red;

}
.fa-pinterest
{
 background-color:white;
 color:crimson;
}


/* down the footer css */

#ft {

 width: 100%;
 height: 90px;
 background-color: rgb(228, 224, 224);
 display:grid;
 grid-template-columns: repeat(7,1fr)

}
#ft div
{
 padding-top:30px;
}
#ft div,a{
 margin: 0 auto;
 text-align: center;
 text-decoration: none;
 font-weight: 300;
 font-size: 15px;
 color: #000;
 
}

#ft div>a:hover
{   
text-decoration: underline;
color:#000;
}



#lastline
{   
 margin: 0 auto;
 text-align: center;
 background-color: rgb(228, 224, 224);
 font-weight: 300;
 font-size: 15px; 
}

@media only screen and (min-width: 50px) and (max-width: 780px)
{
 #ft {
     height:auto;
     display:grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: auto;
     
 
 }
 #lastline
 {
     padding-top:15px;
     padding-bottom: 10px;
     float: left;
     background-color:rgb(228, 224, 224);
     padding-right: 340px;
 }
}
